<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IPSServer</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.yunzi.servlet.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.yunzi.servlet.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetFriendServlet</display-name>
    <servlet-name>AGetFriendServlet</servlet-name>
    <servlet-class>org.nkcs.ips.aservlet.AGetFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetFriendServlet</servlet-name>
    <url-pattern>/AGetFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetPrivateIPServlet</display-name>
    <servlet-name>AGetPrivateIPServlet</servlet-name>
    <servlet-class>org.nkcs.ips.aservlet.AGetPrivateIPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetPrivateIPServlet</servlet-name>
    <url-pattern>/AGetPrivateIPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ALoginServlet</display-name>
    <servlet-name>ALoginServlet</servlet-name>
    <servlet-class>org.nkcs.ips.aservlet.ALoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALoginServlet</servlet-name>
    <url-pattern>/ALoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetNodeServlet</display-name>
    <servlet-name>AGetNodeServlet</servlet-name>
    <servlet-class>org.nkcs.ips.aservlet.AGetNodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetNodeServlet</servlet-name>
    <url-pattern>/AGetNodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetPathServlet</display-name>
    <servlet-name>AGetPathServlet</servlet-name>
    <servlet-class>org.nkcs.ips.aservlet.AGetPathServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetPathServlet</servlet-name>
    <url-pattern>/AGetPathServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetSignalServlet</display-name>
    <servlet-name>AGetSignalServlet</servlet-name>
    <servlet-class>org.nkcs.ips.aservlet.AGetSignalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetSignalServlet</servlet-name>
    <url-pattern>/AGetSignalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetMapServlet</display-name>
    <servlet-name>AGetMapServlet</servlet-name>
    <servlet-class>org.nkcs.ips.aservlet.AGetMapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetMapServlet</servlet-name>
    <url-pattern>/AGetMapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetUserServlet</display-name>
    <servlet-name>AGetUserServlet</servlet-name>
    <servlet-class>org.nkcs.ips.aservlet.AGetUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetUserServlet</servlet-name>
    <url-pattern>/AGetUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetIpAttendServlet</display-name>
    <servlet-name>AGetIpAttendServlet</servlet-name>
    <servlet-class>org.nkcs.ips.aservlet.AGetIpAttendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetIpAttendServlet</servlet-name>
    <url-pattern>/AGetIpAttendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.nkcs.ips.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMapServlet</display-name>
    <servlet-name>GetMapServlet</servlet-name>
    <servlet-class>org.nkcs.ips.servlet.GetMapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMapServlet</servlet-name>
    <url-pattern>/GetMapServlet</url-pattern>
  </servlet-mapping>
</web-app>